---
import Header from '../components/Layout/Header.astro';
import '../styles/app.css';

export interface Props {
	title: string;
	description?: string;
	type?: string;
	imageUrl?: string;
}

const { 
	title,
	description = "MacK Korris. A guy who copies and edits.",
	type = "website",
	imageUrl = "https://mackkorris.vercel.app/robo.jpg"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:locale" content="en_US"/>
		<meta property="og:type" content={type}/>
		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description}/>
		<meta property="og:url" content="https://mackkorris.vercel.app"/>
		<meta property="og:site_name" content="MacK Korris Personal Site"/>
		<meta property="og:image:secure_url" content={imageUrl} />
		<meta property="og:image:width" content="400"/>
		<meta property="og:image:height" content="300"/>
		
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:description" content={description}/>
		<meta name="twitter:title" content={title}/>
		<meta name="twitter:image" content={imageUrl} />
		<meta name="twitter:site" content="@mack423">
		<meta name="twitter:creator" content="@mack423">

		<script src="https://kit.fontawesome.com/1db4c273d0.js" crossorigin="anonymous"></script>

		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div id="page-container">
			<slot />
		</div>
	</body>
</html>

<style>

	#app {
		/* min-height: 100vh;
		display: flex;
		flex-direction: column; */
	}

	footer {
		background-color: red;
		padding: 1em;
	}

</style>